body{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

h3, h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 37px;
    text-shadow: 1px 1px 1px #000000ae;
    color: #fada5e;
}

header{
    position: fixed;
    width: 100%;
    background: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 2;
}
.myName{
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

main{
    position: relative;
    z-index: 1;
}

.intro{
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15vw;
}
.intro p {
    width: 57%;
    font-size: 21px;
    font-weight: 300;
}

.toolset{
    height: 100vh;
}

.tools{
    width: 80% !important;
}

.tools li{
    min-width: 120px;
    margin: 10px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.tools li i {
    font-size: 27px;
    margin-right: 10px;
}

.built{
    height: 100vh;
}

.intro p strong {
    color: #f0d155;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000000ae;
}
.picside{
    position: relative;
    width: 80vw;
    height: 80vh;
}

.picside p{
    width: 80%;
    font-size: 21px;
    font-weight: 300;
}

.picside .figure{
    width: 40%;
}

.welcome{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 57px;
    text-shadow: 1px 1px 1px #000000ae;
    color: #fada5e;
}

.rdimg{
    width: 95% ;
    margin-top: 10px;
    border-radius: 50%;
}


@media screen and (min-width: 320px) and (max-width: 780px){
    .welcome{
        font-size: 37px;
    }
    .myName{
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
    }    
    .aName{
        font-family: 'Cormorant Garamond', serif;
        font-size: 0.4em;
    }
    .textSi span{
        margin: 2px 0;
    }
    .textSi div {
        margin-top: 20px;
    }
    .rdimg{
        width: 95% ;
        margin-top: 10px;
        border-radius: 50%;
    }
    h2, h3{
        font-size: 27px;
    }
    .intro{
        padding-left: 5vw;
    }
    .intro p {
        width: 72%;
    }
    .picside, .built, .toolset, .intro{
        height: auto;
    }
    .picside div{
        width: 90% !important;
        margin: auto;
    }
    .picside .figure{
        width: 90% !important;
        margin: auto;
    }
    p{
        font-size: 18px !important;
    }
}

.aName{
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.6em;
}

.textSi{
    font-size: 18px;
}

.textSi a {
    color: black;
}

.matBD span{
    margin: 0 10px;
}

.matBD .fa, .matBD .fas, .matBD .fab {
    font-size: 26px;
}