<main class="w-screen py-10 h-auto box-border mx-auto">
  <section class="w-4/5 p-10 bg-white justify-around shadow-md rounded items-center sm:w-4/5 box-border lg:w-3/4 flex flex-col mx-auto border">
    <div class="w-full px-4 sm:w-full lg:w-1/2">
      <h2 class="text-2xl font-bold mt-3 px-3 lg:text-5xl">Connect with me</h2>
      <p class="w-full">Why don't you leave me an hello or follow me on one of these.</p>
      <p class="w-full text-center">
        <a href="https://twitter.com/inidaname" target="_blank" class="mx-2 text-2xl"><fa-icon [icon]="twitter"></fa-icon></a>
        <a href="https://github.com/inidaname" target="_blank" class="mx-2 text-2xl"><fa-icon [icon]="github"></fa-icon></a>
        <a href="https://dev.to/inidaname" target="_blank" class="mx-2 text-2xl"><fa-icon [icon]="dev"></fa-icon></a>
        <a href="https://medium.com/@inidaname" target="_blank" class="mx-2 text-2xl"><fa-icon [icon]="medium"></fa-icon></a>
        <a href="https://linkedin.com/in/inidaname" target="_blank" class="mx-2 text-2xl"><fa-icon [icon]="linkedin"></fa-icon></a>
      </p>
    </div>
    <div class="w-full px-4 sm:w-full lg:w-1/2">
      <h3 class="text-3xl font-bold mt-3 px-3 lg:text-3xl">Send me email</h3>
      <p class="w-100 p-1">
        contact@hassansani.me
      </p>
    </div>
  </section>
</main>
