<main class="w-screen py-10 bg-gray-500 h-auto box-border mx-auto">
  <section class="w-full bg-white justify-around shadow-md rounded items-center sm:w-full box-border lg:w-3/4 flex flex-col mx-auto border">
    <h2 class="text-5xl">Hi. I am Hassan</h2>
    <p class="w-1/2 sm:w-full lg:w-1/2">I'm a Full Stack developer, my skills include JavaScript, Typescript, Angular, Node.js and MongoDB.</p>
    <p class="w-1/2 sm:w-full lg:w-1/2 mt-4">I can handle GCP, AWS, Linux, Docker and I am learning Golang and Kuberbetes.</p>
    <p class="w-1/2 sm:w-full lg:w-1/2 mt-4">You can reach me on twitter @iNidAName, it pronounced I Need A Name</p>
  </section>
  <section class="w-full sm:w-full lg:w-1/4 flex justify-around items-center flex-row">
    &copy; 2020 Hassan Sani
    <fa-icon [icon]="twitter"></fa-icon>
    <fa-icon [icon]="github"></fa-icon>
    <fa-icon [icon]="dev"></fa-icon>
    <fa-icon [icon]="medium"></fa-icon>
  </section>
</main>
